@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

@font-face {
  font-family: "bold";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
    src: url('static/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
}

@font-face {
  font-family: "regular";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
    src: url('static/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
}


@theme {
  --color-primary: hsl(26, 100%, 55%);
  --color-secondary: hsl(25, 100%, 94%);
  --color-blue: hsl(220, 13%, 13%);
  --color-neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-neutral-grayish-blue: hsl(220, 14%, 75%);
  --color-neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-black: hsl(0, 0%, 0%);
  --breakpoint-*: initial;
  --font-primary: 'regular', sans-serif;
  --font-primary-bold: 'bold', sans-serif;
}

@custom-variant desktop (@media (max-width: 1440px));
@custom-variant mobile (@media (max-width: 800px));

* {
  @apply font-primary;
}

.focused-image {
  @apply w-full h-full top-0 left-0;
}

.dark-overlay {
  @apply bg-black/60 fixed top-0 w-full h-full z-20;
}

#image-careousel-overlay {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-100 mobile:w-11/12 rounded-lg z-50;
}

#image-careousel-overlay .opened-image {
  @apply w-full rounded-lg;
}

#previous-image-button {
  @apply absolute top-1/3 left-0 transform -translate-x-1/2;
}
#next-image-button {
  @apply absolute top-1/3 right-0 transform translate-x-1/2;
}

.carousel-icon {
  @apply absolute w-12 h-12 cursor-pointer rounded-full bg-neutral-white p-3 z-20 hover:fill-primary hover:bg-neutral-white/80;
}

#navbar {
  @apply h-24 mobile:h-16 mobile:w-11/12 w-9/12 sticky mx-24 mobile:mx-5 flex flex-row place-content-between border-b-neutral-light-grayish-blue border-b-2 items-center;
}

.hide {
  @apply hidden!;
}

#mobile-navbar-items.hide {
  @apply origin-left scale-x-0;
}

#mobile-navbar-items:not(.hide) {
  @apply origin-left scale-x-100 transition duration-200 ease-in-out;
}

#cart.hide {
  @apply scale-0 origin-top transition duration-200 ease-in-out;
}

#cart:not(.hide) {
  @apply scale-100 origin-top transition duration-200 ease-in-out;
}

#nav-list {
  @apply flex flex-row items-center;
}

#navbar-logo {
  @apply h-4 object-cover pe-5;
}

#nav-menu-button {
  @apply hidden me-4 mobile:inline-block cursor-pointer;
}

#navbar-items {
  @apply mobile:hidden flex flex-row gap-x-5;
}

#mobile-navbar-items {
  @apply mobile:flex hidden flex-col fixed top-0 pt-16 left-0 pl-5 h-full min-w-60 max-w-72 shadow-2xl bg-neutral-white z-50;
}

#close-nnav-menu {
  @apply fixed top-5 left-5 hidden mobile:inline-block cursor-pointer;
}

.navbar-item {
  @apply inline-block h-24 mobile:h-10  text-center mobile:text-left mobile:text-neutral-black mobile:font-bold content-center hover:text-neutral-black focus:text-neutral-black text-neutral-grayish-blue cursor-pointer hover:border-b-primary hover:border-b-4 focus:border-b-primary focus:border-b-4 mobile:hover:border-b-0 transition duration-300 ease-in-out mobile:hover:text-neutral-dark-grayish-blue;
}

#account-container {
  @apply flex flex-row items-center gap-x-8;
}

#cart-button-container {
  @apply relative cursor-pointer;
}

#cart-button {
  @apply content-center;
}

#cart-count {
  @apply absolute -top-2 -right-2 px-2 rounded-md bg-primary text-white text-xs;
}

#account-image-container {
  @apply cursor-pointer w-10 content-center border-2 border-transparent rounded-full hover:border-primary;
}

#cart-container {
  @apply relative mobile:static;
}

#cart {
  @apply absolute top-12 -left-32 w-72 mobile:top-20 mobile:left-1/2 mobile:transform mobile:-translate-x-1/2 shadow-2xl bg-neutral-white z-30 rounded-xl!
}

#cart-header {
  @apply ml-5 mb-4 text-sm font-primary-bold font-bold inline-block w-58 py-5 border-b-neutral-light-grayish-blue border-b-2
}

.cart-items {
  @apply flex flex-col gap-4 mx-4 min-h-36 items-start justify-center;
}

.cart-item-container {
  @apply flex items-center w-full justify-start gap-4 focus:outline-3 outline-offset-4 rounded-md outline-primary;
}

.cart-item-thumbnail {
  @apply w-12 rounded-md cursor-pointer;
}

.cart-item-details {
  @apply flex flex-col gap-1 text-xs text-neutral-dark-grayish-blue;
}

.price-and-quantity {
  @apply flex flex-row gap-2;
}

.cart-item-total-price {
  @apply font-bold text-neutral-black;
}

.cart-item-delete-button {
  @apply cursor-pointer w-5 h-5 fill-neutral-grayish-blue hover:fill-primary ml-auto;
}

#cart-checkout-button {
  @apply inline-block w-64 h-12 bg-primary focus:text-white font-medium capitalize rounded-lg m-4 focus:outline-2 outline-offset-2 outline-primary leading-10 hover:bg-primary/50 transition duration-300 ease-in-out;
}

#empty-container {
  @apply capitalize inline-block w-full h-full text-center font-medium text-neutral-dark-grayish-blue
}


#product {
  @apply m-24 mobile:m-0 flex flex-row mobile:flex-col items-center gap-14;
}

.selected-image {
  @apply w-100 mobile:w-screen;
}

.selected-image > img {
  @apply cursor-pointer rounded-lg;
}

.selected-image #select-prev {
  @apply hidden mobile:inline-block absolute left-4 top-1/3 transform -translate-y-1/2;
}
.selected-image #select-next {
  @apply hidden mobile:inline-block absolute right-4 top-1/3 transform -translate-y-1/2;
}

#close-image-overlay {
  @apply absolute -top-6 right-0 cursor-pointer fill-neutral-black hover:fill-primary;
}

#product-images-list {
  @apply mx-0 flex flex-row gap-x-6 my-6 mobile:hidden;
}
.product-image {
  @apply rounded-md bg-neutral-white border-2 border-transparent hover:border-primary focus:border-primary cursor-pointer transition duration-200 ease-in-out;
}
.product-image > img {
  @apply rounded-md transition duration-200 ease-in-out group-hover:opacity-50 group-focus:opacity-30;
}

#product-details {
  @apply text-left p-4;
}

#product-seller {
  @apply uppercase text-xs font-primary-bold text-neutral-dark-grayish-blue my-2;
}

#product-name {
  @apply text-4xl mobile:text-2xl font-primary-bold  text-neutral-black mb-4;
}

#product-description {
  @apply text-neutral-dark-grayish-blue my-6;
}

#product-pricing {
  @apply flex flex-row items-center gap-6 my-6;
}

#product-price {
  @apply text-3xl font-primary-bold;
}

#product-discount {
  @apply bg-neutral-black text-neutral-white px-2 py-1 rounded-md font-primary-bold;
}

#old-price {
  @apply text-neutral-dark-grayish-blue font-primary-bold font-bold line-through decoration-neutral-dark-grayish-blue/50;
}

#product-purchase {
  @apply flex flex-row items-center gap-4 mobile:flex-col;
}

#quantity-selector {
  @apply flex items-center w-48 bg-neutral-light-grayish-blue justify-between rounded-md mobile:w-full mobile:px-8;
}

#decrease-quantity {
  @apply p-4 cursor-pointer hover:opacity-70 transition duration-200 ease-in-out;
}

#increase-quantity {
  @apply p-4 cursor-pointer hover:opacity-70 transition duration-200 ease-in-out;
}

#selected-quantity {
  @apply px-4 font-bold font-primary-bold;
}

#add-to-cart-button {
  @apply my-8 flex flex-row items-center gap-4 bg-primary hover:bg-primary/70 min-w-64 mobile:w-full justify-center h-12 rounded-lg cursor-pointer transition duration-200 ease-in-out focus:outline-2 outline-primary outline-offset-2 mobile:shadow-2xl;
}

#add-to-cart-button .cart-icon {
  @apply fill-neutral-black group-hover:fill-neutral-white transition duration-200 ease-in-out;
}

#add-to-cart-button span {
  @apply text-neutral-black font-primary-bold group-hover:text-neutral-white transition duration-200 ease-in-out;
}

#products-list-container {
  @apply grid desktop:grid-cols-3 grid-cols-5 gap-8 px-4 mobile:grid-cols-1 mobile:px-0;
}

.product-card-image > img {
  @apply rounded-2xl ;
}

.product-card {
  @apply cursor-pointer p-2 transition duration-200 ease-in-out hover:shadow-2xl;
}

.product-card-details {
  @apply py-2 px-2;
}

.product-seller {
  @apply uppercase text-xs font-primary-bold text-neutral-dark-grayish-blue my-2;
}

.product-card .product-pricing {
  @apply flex w-full items-center;
}

.product-card .product-name {
  @apply text-xl font-bold;
}

.product-card .product-discount {
  @apply ml-auto bg-neutral-black text-neutral-white px-2 py-1 rounded-md font-primary-bold;
}

.product-card .product-price {
  @apply text-xl font-primary-bold pe-2;
}

.product-card .old-price {
  @apply text-neutral-dark-grayish-blue font-primary-bold font-bold line-through decoration-neutral-dark-grayish-blue/50;
}